footer{
    grid-area: footer;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    height: 430px;
    text-align: center;
    align-self: center;
    margin-top: 160px;
   }
   .footerA{
    color: rgb(0, 0, 0);
    font-size: 36px;
    margin-bottom: 20px;
   }

   .footerB{
    color: rgb(123, 121, 121);
    font-size: 20px;
    margin-bottom: 40px;
   }
   .primeira{
    width: 360px;
    height: 48px;
    border-radius: 8px;
   }
   .segunda{
    width: 116px;
    height: 48px;
    border-radius: 8px;
   }
   .final{
    margin-top: 32px;
   }